<head>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="837020197744-k9v1u4gn79ndsmoeo6qeg202aqpgpj62">
</head>

<body>
    <img src="HaRVI.png" alt="HaRVI Lab" width="250" height="300">
    <div class="g-signin2" data-onsuccess="onSignIn" data-onfailure="onFailure"></div>

    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
            var id_token = googleUser.getAuthResponse().id_token;
            window.location.href = "index?email=" + profile.getEmail();
          }

          function onFailure(googleUser) {
            console.log("failed to log in :( try again");
          }

    </script>  
</body>